body {
  height: 100%;
  width: 100%;
  background: url(https://www.toptal.com/designers/subtlepatterns/uploads/sakura.png);
}

.text {
  margin: 5%;
  padding: 2%;
  border: 5px solid skyblue;
  -webkit-box-shadow: 5px 5px 25px 14px rgba(0,0,0,0.77); 
  box-shadow: 5px 5px 25px 14px rgba(0,0,0,0.77);
  background-color: antiquewhite;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 16pt;
}

h1, h2{
  text-align: center;
  margin-right: 0px;
  margin-bottom: 40px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-size: 40pt;
  color: darkcyan;
}

h3 {
  font-size: 30pt;
}

p{
  text-indent:20pt;
}

.sketc {
  width: 30%;
  height: 60%;
}

.sketc1 {
  width: 70%;
  margin-left: 15%;
}



